<p id="notice"><%= notice %></p>

<p>
  <strong>チーム名:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>備考:</strong>
  <%= @team.remark %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
