

<p id="notice"><%= notice %></p>


<%= User.where("id = ?", @message.user_id).first.email %>
/ <%= Team.where("id = ?", @message.team_id).first.name %><br>
タグ:<%= @message.tag %>


<p>
  <%= @message.body %>
</p>

<p>
  <%= @message.created_at.in_time_zone('Tokyo') %>
</p>

<!--
<%= link_to 'Edit', edit_message_path(@message) %>
<%= link_to 'Back', team_messages_path(@team) %>
-->
