<%= form_for(shallow_args(@team,@team_user)) do |f| %>
  <% if @team_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_user.errors.count, "error") %> prohibited this team_user from being saved:</h2>

      <ul>
      <% @team_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :team_id %>
  <div class="field">
    メールアドレス
    <%= f.text_field :email %>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    権限
    <%=f.select :admin, options_for_select([["管理者","1"], ["一般","0"]])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
