<p id="notice"><%= notice %></p>

<h1><%= @team.name %> の管理</h1>

<br>
<div class="panel panel-success">
  <div class="panel-heading"　>備考
    <%if @admin%>
    <%= link_to '-編集', edit_team_path(@team) %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="comment">
      <p>
        <%= @team.remark %>
      </p>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">メンバー</div>
  <table class="table">
    <thead>
      <tr>
        <th>アカウントの種類</th>
        <th>メールアドレス</th>
        <%if @admin%>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @team_users.each do |team_user| %>
      <% if @team.id==team_user.team_id %>
      <tr>
        <%if team_user.admin==1%>
        <td>管理者ユーザー</td>
        <%else%>
        <td>一般ユーザー</td>
        <% end %>
        <td><%= team_user.user.try(:email) %></td>
        <%if @admin%>
        <td><%= link_to 'ユーザー編集', edit_team_user_path(team_user) %></td>
        <%if team_user.user_id!=current_user.id%>
        <td><%= link_to '削除', team_user, method: :delete, data: { confirm: "#{team_user.user.try(:email)} をこのチームから削除してよろしいですか？" } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%if @admin%>
<%= link_to '新しいメンバーを追加する', new_team_team_user_path(team_id: @team.id) %>
&nbsp;&nbsp;&nbsp;<%= link_to 'チームの削除', @team, method: :delete, data: { confirm: 'このチームを削除してもよろしいですか？' } %>
<% end %>
